body {
    background-image: url(/images/microphone.jpg);
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3px;
}

.test {
    overflow-y: scroll;
    height:calc(100vh - 259px);
}

@media print {
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
      height: fit-content;
    }
  }